NUXT_PUBLIC_PRODUCTION="false"
NUXT_SITE_URL="https://mesonpi.example.com"
NUXT_PUBLIC_SITE_URL="https://mesonpi.example.com"
DEV_URL="izanagi.cbpf.dev.br"
DEV_KEY="/home/nome/ssl/key.pem"
DEV_CERT="/home/nome/ssl/cert.pem"
